/*Responsive design for phone*/

@media(max-width:641px){
    h1{
        font-size:35px;
    }
    .input{
        margin-left:80px;
        width:60px;
        margin-top:20px;
    }
    .drop_down_lists{
        display:block;
        
    }
    .from, .to{
        padding-left:50px;
    }
    .from p{
        text-align:left;
        margin-left:30px;
    }
    .to p{
        text-align:left;
        margin-left:40px;
    }
    i{
    margin-left:95px;
    margin-top:20px;
    margin-bottom:20px;
    }
    .message p{
        font-size:18px;
        text-align:left;
        padding-left:40px;
        
        
    }
    .message{
  overflow-wrap: break-word; 
    }

    button{
        margin-left:10px;
        width:200px;
    }
    
    form{
        margin-top:10px;
        width:215px;
        margin-bottom:60px;
    }

}