*{
    padding:0px;
    margin:0px;
    border:border-box;
    color:white;
}

body{
    background: linear-gradient(to left, Black, rgb(80, 78, 78));
}
.developer img{
    border-radius:50%;
    width:55px;
    height:55px;
    object-fit:cover;
    position:relative;
    top:2px;
    z-index:1;
}
.pic:active{
    transform:scale(0.9);
}    

.pic{
    display:inline-block;
    border-radius:50%;
    width:65px;
    height:65px;
    display:flex;
    justify-content:center;
    align-items:center;
    background: linear-gradient(to right, blue, violet);
    cursor:pointer;
    position:relative;
}

.developer{
    display:flex;
    align-items:center;
    background-color:rgba(0,0,0,0.2);
    padding:10px;
    height:50px;
}
span{
    margin-left:20px;
    font-size:16px;
    font-weight:bold;
}

.converter_container{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:20px;
}
form{
    background-color:rgba(255,255,255,0.1);
    box-shadow: -30px 30px 10px rgb(36, 32, 32);
    padding:20px 20px 5px 20px;
    border-radius:30px;
}
h1{
    font-size:34px;
    margin:10px;
    text-align:center;
}
.input{
    display:flex;
    justify-content:center;

}
.input input{
    background:none;
    outline:none;
    height:50px;
    width:400px;
}
.drop_down_lists{
    margin-top:40px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:130px;
    font-weight:550;
}
p{
    text-align:center;
}
.to_img,.from_img{
    margin-left:20px;
}

select{
    display:block;
    background:none;
    margin-top:10px;
    width:100px;
    height:50px;
    text-align:center;
    outline:none;
    cursor:pointer;
    border-radius:20px;
    font-weight:bold;
}
option{
    background:black;
}


.message{
    margin-top:30px;
    margin-bottom:10px;
    font-weight:bold;
    font-size:20px;
}
button{
    background:black;
    border-radius:20px;
    width:300px;
    height:50px;
    margin-bottom:10px;
    margin-left:80px;
    margin-top:20px;
    cursor:pointer;
    font-size:20px;

}

.animating::after{
    content:'';
    position:absolute;
    width:65px;
    height:65px;
    border-radius:50%;
    box-shadow:10px 0 10px linear-gradient(blue, violet);
    animation-name:slip;
    animation-duration:0.1s;
    animation-timing-function:ease-in;
}

@keyframes slip{
    from{
        background:linear-gradient(to right, blue, violet);
    }
    to{
        background:linear-gradient(to left, blue, violet);
    }
}

.glow{
    box-shadow:10px 0 30px blue,-10px 0 30px violet;
}



